@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Tomato: hsl(4, 100%, 67%);

  /*-### Neutral */

  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);

  --font-Roboto: "Roboto", sans-serif;

  --img-height: 40vh;
  --success-height: 100vh;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-Roboto);
}

main {
  min-height: 100vh;
}

figure {
  transform-style: preserve-3d;
}

.front {
  display: block;
}
.front.hide {
  display: none;
}
.signup--wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.sign-img {
  display: flex;
  width: 100%;
  height: var(--img-height);
}
.sign-img picture {
  width: 100%;
  height: 100%;
}

.sign-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

.info--wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > .info {
    color: var(--Dark-Slate-Grey);
    padding: 1rem;

    > p {
      margin: 1.5rem 0;
      width: 90%;
      font-size: 0.93rem;
      color: var(--Charcoal-Grey);
    }
  }
}

h1 {
  margin: 2px auto;
  font-size: clamp(2.5rem, 4vw, 3rem);
  color: var(--Dark-Slate-Grey);
}

.feature--wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > .feature {
    display: flex;
    gap: 0.7rem;
    align-items: flex-start;

    > p {
      font-size: 0.93rem;
      width: 85%;
      color: var(--Charcoal-Grey);
    }
  }
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input--container {
  display: grid;
  grid-template-areas:
    "one two"
    "three three";
  place-items: center start;
  gap: 0.6rem;

  > label {
    grid-area: one;
  }

  > label,
  > small {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--Dark-Slate-Grey);
  }
  > small {
    place-self: center end;
    grid-area: two;
    opacity: 0;
    transition: 0.4s linear;
  }

  > #email {
    grid-area: three;
    border: 2px solid var(--Grey);
    border-radius: 5px;
    padding: 8px;
    transition: 0.3s linear;
    width: 100%;

    &:focus {
      border: 2px solid var(--Charcoal-Grey);
      outline: none;
    }
  }
}
.input--container.error {
  > small {
    opacity: 1;
    color: var(--Tomato);
  }
}
.input--container.error #email {
  color: var(--Tomato);
  border: 2px solid var(--Tomato);
}

.btn {
  padding: 10px 12px;
  background: var(--Dark-Slate-Grey);
  color: var(--White);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 1px 2px 20px 0px var(--Dark-Slate-Grey);
  font-size: 0.9rem;
  font-weight: 500;
}

/* Back Card */

.back {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotateY(-180deg);
  transform-origin: center;
  height: var(--success-height);
  opacity: 0;
  transition: 0.3s ease-in;
  width: 100%;
}
.back.show {
  transform: translate(-50%, -50%) rotateY(0deg);
  z-index: 444;
  opacity: 1;
}
.success--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  align-items: flex-start;
  gap: 1.9rem;
  padding: 1rem;
  color: var(--Dark-Slate-Grey);

  > h2 {
    font-size: 3rem;
    font-weight: 700;
    width: 10ch;
  }

  > p {
    width: 95%;
    line-height: 1.4;

    > span {
      color: #000;
      font-weight: 700;
    }
  }
}
.dismiss {
  width: 100%;
  padding: 15px 1.5rem;
  justify-self: baseline;
  transform: translateY(90px);
}
.success--wrapper > img {
  width: 50px;
  height: 50px;
}

@media (hover: hover) {
  .btn:hover {
    background: var(--Tomato);
    cursor: pointer;
    box-shadow: 1px 2px 20px 0px var(--Tomato);
  }
}

@media (width > 700px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    min-height: 600px;
  }
  .front {
    height: 600px;
    min-width: 700px;
    width: 100%;
    max-width: 1000px;
    background: var(--White);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
  }
  .signup--wrapper {
    padding: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
  }
  .sign-img {
    flex-basis: 50%;
    --img-height: 100%;
  }
  .sign-img img {
    border-radius: 0px 0 0 0;
  }
  .info--wrapper {
    flex-basis: 50%;
    gap: 2rem;
  }
  .input--container #email {
    padding: 12px;
  }
  .btn {
    padding: 1rem;
  }
  form {
    gap: 1.5rem;
  }
  .input--container {
    gap: 1;
  }

  /* Back Card */
  .back {
    --success-height: 500px;
    min-width: 500px;
    height: 500px;
    width: 100%;
    max-width: 500px;
    background: var(--White);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
  }
  .success--wrapper {
    align-items: center;
    text-align: center;
  }
  .dismiss {
    /* --button-pos: 0px; */
    transform: translateY(0px);
  }
}
